body
    margin: 15px

.klotski
    display: inline-block

#view
    position: relative
    border: 1px solid #000

.klotski-ui
    font-size: 25px
    font-family: monospace

    #reset-button
        float: right
        font-size: 18px

